<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,td,tr{
        border: 1px solid black;
    }
</style>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>email</th>
            <th>username</th>
        </tr>
        <% for(user of users) {%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.email%></td>
                <td><%=user.username%></td> 
                <td>
                    <form method="get" action="/users/<%=user.id%>/edit">
                        <button>EDIT</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/users/<%= user.id %>/delete">
                        <button>delete</button>
                    </form>
                </td>             
            </tr>
        <%}%>
    </table>
    <h4>ADD NEW DATA</h4>
    <form method="post" action="/user">
        <input type="text" placeholder="id" name="id">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <button>UPDATE</button>
    </form>
</body>
</html>

